.collection {
  &__title {
    display: flex;
    justify-content: center;
    font-family: Roboto Flex, sans-serif;
    font-size: 50px;
    margin-bottom: 40px;
    margin-top: 100px;
  }

  &__contenaire {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 150px;

    &__firstCard {
      width: 300px;
      height: 320px;
      margin: 40px;
      position: relative;
      transition: 0.2s ease-in;
      box-shadow: 0px 10px 30px black;
      background: rgba(137, 196, 244, 0.5);

      &__image {
        display: flex;
        height: 50%;
        width: 50%;
        // position: relative;
        margin-left: 25%;
        margin-top: 20px;
      }
      &__paragraph {
        margin: 0;
        position: relative;
        top: 13px;
        text-align: center;
        font-family: "Lato";
        font-size: 15px;
      }
    }
    &__firstCard:hover {
      transform: scale(1.1);
    }
  }
}
