.recette {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 50px;

  &__title {
    display: flex;
    justify-content: center;
    font-family: Roboto Flex, sans-serif;
    font-size: 40px;
    margin-bottom: 40px;
  }
  &__intro {
    font-size: 24px;
  }

  &__body {
    font-size: 20px;
    &__image img {
      width: 30%;
      border-radius: 50%;
      float: left;
    }
    &__ingredients {
      margin-top: 60px;
    }
    &__method {
      margin-top: 30px;
      &__final {
        margin-top: 70px;
      }
    }
  }
}
